<ion-header>
  <ion-toolbar>
    <ion-searchbar
      animated
      debounce="800"
      #searchInput
      (ionChange)="onSearchChange($event)"
    />
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-loading-restaurant *ngIf="isLoading" />
  <app-empty-screen
    *ngIf="!isLoading && !restaurants.length && query"
    [model]="model"
  />
  <ion-list *ngIf="!isLoading && restaurants.length">
    <ion-list-header>
      <ion-label>
        <h4>Search result for "{{query}}"</h4>
      </ion-label>
    </ion-list-header>
    <app-restaurant
      *ngFor="let restaurant of restaurants"
      [restaurant]="restaurant"
    />
  </ion-list>
</ion-content>
